<div class="container">
<script>
  $(document).ready(function() {
  });
</script>

</div>


<div class="container">

  <div class="span-24 last">
   <ul>
    <% for (ix in readings) {
       reading = readings[ix];
     %>
       <li><a href="<%= reading.book.url %>"><%= reading.book.title %>: <%= new Date(reading.completion_date).toDateString() %></a></li>
    <% } %>
    </ul>
  </div>
</div>
