<div class="container">
<script>
function message(obj){
  var el = $("<span class='action' />").hide().html(obj);
  $('#actions').prepend(el);
  el.fadeIn();
  var actions = $('#actions span').length;
  if (actions > 10) {
    $('#actions span:last').remove();
  }
 }

var socket = new io.Socket(null, {port: 8124, rememberTransport: false});
socket.connect();
socket.on('message', function(obj){
    message(obj);
  });
</script>

<div id="subheader" class="span-24 last">
  <h3 class="alt">Read 52 Books in 52 Weeks.</h3>
</div>

<hr />
  <div id="main" class="span-12 colborder">
  
  <h1 class="alt">Set Your Goal</h1>
  <p class="elab">Reading a book every week is easier than it may sound.  Read a couple chapters in the morning or before bed during the week, then finish it off on the weekend.  Or, start more modest with a goal of a book every month.</p>
  
  <h1 class="alt">Track Your Progress</h1>
  <p class="elab">Every time you finish a book, enter the ISBN (the number printed next to the barcode) on this site.  We will take care of finding the name, author, cover illustration, and other information.</p>

  <h1 class="alt">Share Your Success</h1>
  <p class="elab">Let your friends, family, coworkers, or classmates know about your goal, and show them your page with all the books you have read!</p>
  </div>
  <div class="span-11 last">
  <h2 class="caps">Recently Read...</h2>
  <div id="actions" class="span-11 last">
  <% for (var i = 0; i < actions.length ; i++) { %>
     <span class='action'><%- actions[i] %></span>
  <% } %>
  </div>
  </div>
</div>
