<script>
function message(obj){
  var el = $("<span class='action' />").hide().text(obj);
  $('#actions').prepend(el);
  el.fadeIn();
  var actions = $('#actions p').length;
  if (actions > 10) {
    $('#actions span:last').remove();
  }
 }

var socket = new io.Socket(null, {port: 8124, rememberTransport: false});
socket.connect();
socket.on('message', function(obj){
    message(obj);
  });
</script>

<div id="subheader" class="span-24 last">
  <h3 class="alt">Read 52 Books in 52 Weeks.</h3>
</div>

<hr />
<div id="main" class="span-17 colborder">
  <p>
    
  </p>
</div>
<div class="span-6 last">
  <h2 class="caps">Recent Actions...</h2>
  <div id="actions" class="span-6 last" />
</div>


