<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" /> 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 8]>
      <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" />
      <![endif]-->
  <link rel="stylesheet" href="/css/52-in-52.css" type="text/css" media="screen, projection">
  <!-- JQuery and plugins -->
  <script src="/js/jquery-1.4.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
  <script src="http://cdn.socket.io/stable/socket.io.js"></script>
  </head>
  <body>
    <div class="container">

      <div id="header" class="span-8">
        <h1>52-in-52</h1>
      </div>

      <div id="nav" class="span-16 last"> 
        <ul>
          <% if (nav=="home") { %>
          <li>Home</li> 
          <% } else { %>
          <li><a href="/" title="Home">Home</a></li> 
          <% } %>

          <% if (nav=="books") { %>
          <li>Books</li> 
          <% } else { %>
          <li><a href="/book" title="Books">Books</a></li> 
          <% } %>

          <% if (nav=="user") { %>
          <li>Users</li> 
          <% } else { %>
          <li><a href="/users" title="Users">Users</a></li> 
          <% } %>

          <% if (user == null) { %>
            <% if (nav=="login") { %>
            <li>Login</li> 
            <% } else { %>
            <li><a href="/login" title="Sign In">Sign In</a></li> 
            <% } %>
          <% } else { %>
            <% if (nav=="userhome") { %>
              <li>Your Account</li> 
            <% } else { %>
              <li><a href="/user/<%= user.id %>" title="Your Account">Your Account</a></li> 
            <% } %>
              <li><a href="/logout" title="Logout">Logout</a></li> 
          <% } %>
        </ul> 
      </div>
      <hr />
    <%- body %>
  </body>
</html>
