<div class="container">

<div id="subnav" class="prepend-18 span-6 last">
<ul>
<li><a href="/register">Create a New Account</a></li>
</ul>
</div>

<div class="span-24 last">
   <form name="login" action="/login" method="post">
   <label>Email</label><br />
   <input type="text" class="title" name="email" /> <br />
   <label>Password</label><br />
   <input type="password" class="text" name="password" /> <br />
   <input type="submit" value="Submit" /><br />
   </form>
</div>
</div>
