<div class="span-24 last">
   <h1>Login to 52-in-52</h1>
</div>

<div class="span-24 last">
   <form name="login" action="/login" method="post">
   Username: <input type="text" name="user" /> <br />
   Password: <input type="password" name="password" /> <br />
   <input type="submit" value="Submit" /><br />
   </form>
</div>
