<div class="span-24 last">
   <h1>Login</h1>
   <h3>(or <a href="/register">register a new account</a>)</h3>
</div>

<div class="span-24 last">
   <form name="login" action="/login" method="post">
   <label>Email</label><br />
   <input type="text" class="title" name="email" /> <br />
   <label>Password</label><br />
   <input type="password" class="text" name="password" /> <br />
   <input type="submit" value="Submit" /><br />
   </form>
</div>
