<div class="span-24 last">
   <h1>Register a New Account</h1>
   <h3>(or <a href="/login">login</a>)</h3>
</div>

<div class="span-24 last">
   <form name="register" action="/register" method="post">
   <label>Email</label><br />
   <input type="email" class="title" name="email" /><br />
   <label>Name</label><br />
   <input type="text" class="text" name="user" /><br />
   <label>Password</label><br />
   <input type="password" class="text" name="password" /><br />
   <label>Confirm Password</label><br />
   <input type="password" class="text" name="verify_password" /><br />
   <input type="submit" value="Submit" /><br />
   </form>
</div>
