<div class="container">

<div id="subnav" class="prepend-18 span-6 last">
<ul>
<li><a href="/login">Already have an account?</a></li>
</ul>
</div>

<% if (flash.error) { %>
<div class="span-18 last error">
  <%= flash.error %>
</div>
<% } %>

<div class="span-24 last">
   <form name="register" action="/register" method="post">
   <label>Email</label><br />
   <input type="email" class="title" name="email" /><br />
   <label>Name</label><br />
   <input type="text" class="text" name="user" /><br />
   <label>Password</label><br />
   <input type="password" class="text" name="password" /><br />
   <label>Confirm Password</label><br />
   <input type="password" class="text" name="verify_password" /><br />
   <input type="submit" value="Submit" /><br />
   </form>
</div>
</div>
