<div class="span-24 last">
   <h1>User</h1>
   <% if (userIsHome) { %>
   <form action="/user/<%= user.id %>/read" method="post">
   <label>ISBN</label><br />
   <input type="text" class="title" name="isbn" /> <br />     
   <input type="submit" value="Submit" /><br />
   </form>                     
   <% } %>

<% for (ix in readings) { 
   reading = readings[ix];
%>
<div class="container">
<div class="span-12"><%= reading.isbn %></div>
<div class="span-12 last"><%= reading.completion_date %></div>
</div>
<% } %>

