<div class="container">
<div class="span-24 last">
   <div class="span-12"><strong>ID</strong></div>
   <div class="span-12 last"><strong>Name</strong></div>
</div>
<hr />

<% for (ix in users) { 
   u = users[ix];
%>
<div class="span-24 last">
<div class="span-12"><a href="/user/<%=u.id%>"><%=u.id%></a></div>
<div class="span-12 last"><%=u.name%></div>
</div>
<% } %>

</div>
