<div class="span-24 last">
   <h1><%= user.name %></h1>
   <% if (userIsHome) { %>
   <form action="/user/<%= user.id %>/read" method="post">
   <label>ISBN</label><br />
   <input type="text" class="title" name="isbn" /> <br />
   <input type="submit" value="Submit" /><br />
   </form>
   <% } %>
</div>

<div class="span-24 last">
<% for (ix in readings) {
   reading = readings[ix];
%>
<img src="<%= reading.book.amz_img_medium%>">
<% } %>
</div>

</div>
