body
{
  background: #ddd;
}

.container
{ 
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding-left:10px;
  padding-right:10px;
  margin-left:30px;
  margin-top:10px;
  background: #fff;
  border-bottom: 2px solid #bbb;
  border-top: 1px solid #ccc;
}

/*.span-24, .span-12, .span-6
{ 
  margin-left: 1%;
  margin-right: 1%;
}
*/
.action
{ 
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin-bottom: 0.5em;
  padding: 3px;
  background: #ddf;
}

.action:hover
{ 
  background: #ccf;
}

p.elab
{ 
  font-size: 1.5em;
}

/****  Navigation Menu *****/
#nav ul
{
  float: right;
  margin-top: 0px;
}

#nav ul li
{
  display: inline;
  float: left;
  margin: 0px 0px 0x 0x;
  background: #555;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

#nav ul li a
{
  background: #555;
  color: white;
}

/***** Buttons Submenu******/
#subnav ul
{
  float: right;
}

#subnav ul li
{
  display: inline;
  float: left;
  margin: 0px 0px 0x 0x;
  background: #555;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

#subnav ul li a
{
  background: #555;
  color: white;
}
/***************************/

.hidden
{ 
  display: none
}

.comment
{ 
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #ccc;
  display: block;
  margin-bottom: 0.5em;
  padding: 3px;
}

/*******************************/